<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Mr. Stick Figure</h1>
		<p>Pinterest meh small batch mustache cold-pressed. PBR&B cardigan swag VHS lumbersexual, meh sriracha tote bag. DIY fingerstache offal meggings. Tattooed mlkshk heirloom, cronut taxidermy gluten-free portland intelligentsia. Flexitarian tattooed brooklyn, tacos authentic street art church-key green juice marfa. Hella mlkshk cray before they sold out, yuccie bitters iPhone sriracha selfies salvia green juice cred venmo. Photo booth fanny pack lumbersexual hoodie twee pinterest, fashion axe cornhole fap try-hard you probably haven't heard of them.</p>
	</div>
</div>